* {
  font-family: "SF Pro Display", sans-serif;
  font-size: 16px;
}

window {
  background: transparent;
}

#box {
  background: #121212;
  border: 2px solid #3d3d3d;
  border-radius: 0;
}

#search {
  background: #121212;
  border-radius: 0;
}

#input {
  background: #121212;
  color: #e0e0e0;
  border-radius: 0;
  padding: 10px;
}

#input:focus {
  outline: none;
  box-shadow: none;
}

#list {
  background: #121212;
}

row {
  padding: 6px 10px;
  background: #121212;
  color: #e0e0e0;
  border-radius: 0;
}

row:selected {
  background: #2d2d2d;
  color: #e0e0e0;
}

.activation-label {
  color: #666666;
}

#typeahead {
  color: #666666;
  background: transparent;
}

scrollbar,
scrollbar slider {
  opacity: 0;
}
