* {
  font-family: "SF Pro Display", sans-serif;
  font-size: 16px;
}

window {
  background: transparent;
}

#box {
  background: #f5f5f5;
  border: 2px solid #e8e8e8;
  border-radius: 0;
}

#search {
  background: #f5f5f5;
  border-radius: 0;
}

#input {
  background: #f5f5f5;
  color: #1a1a1a;
  border-radius: 0;
  padding: 10px;
}

#input:focus {
  outline: none;
  box-shadow: none;
}

#list {
  background: #f5f5f5;
}

row {
  padding: 6px 10px;
  background: #f5f5f5;
  color: #1a1a1a;
  border-radius: 0;
}

row:selected {
  background: #ebebeb;
  color: #1a1a1a;
}

.activation-label {
  color: #999999;
}

#typeahead {
  color: #999999;
  background: transparent;
}

scrollbar,
scrollbar slider {
  opacity: 0;
}
